body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

nav {
    background-color: #020617;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: #38bdf8;
}

p, ul {
    text-align: center;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
}
